#exo2-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    grid-template-rows: 50px 50px auto 100px 50px 50px;
    grid-template-areas:
        "item1 item1 item1"
        "item2 item5 item5"
        "item2 item6 item7"
        "item2 item6 item8"
        "item2 item3 item3"
        "item4 item4 item4";
    gap: 10px;
    height: 500px; 
    background-color: #D84FD8; 
    box-sizing: border-box; 
    padding: 10px;
    font-family: sans-serif;
    color: black;
}

#exo2-item1 { background-color: #F16B08; grid-area: item1; }
#exo2-item2 { background-color: #B2F109; grid-area: item2; }
#exo2-item3 { background-color: #23F109; grid-area: item3; }
#exo2-item4 { background-color: #3050F0; grid-area: item4; }
#exo2-item5 { background-color: #FBB5E9; grid-area: item5; }
#exo2-item6 { background-color: #0AF1AD; grid-area: item6; }
#exo2-item7 { background-color: #E8F571; grid-area: item7; }
#exo2-item8 { background-color: #31838F; grid-area: item8; }


#exo3-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    height: 600px; 
    background-color: white;
}

#exo3-container .item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
    

    position: relative;
    z-index: 1; 
}


#exo3-container .item::before {
    content: "";
    position: absolute;
    width: 60px;  
    height: 60px;
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 50%;
    z-index: -1;
    

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#exo3-container .item7 { background-color: #E8F571; grid-column: 1 / 5; grid-row: 1 / 2; }
#exo3-container .item8 { background-color: #31838F; grid-column: 1 / 2; grid-row: 2 / 6; }
#exo3-container .item6 { background-color: #0AF1AD; grid-column: 5 / 6; grid-row: 1 / 4; }
#exo3-container .item3 { background-color: #23F109; grid-column: 2 / 4; grid-row: 2 / 3; }
#exo3-container .item2 { background-color: #B2F109; grid-column: 4 / 5; grid-row: 2 / 4; }
#exo3-container .item4 { background-color: #3050F0; grid-column: 2 / 3; grid-row: 3 / 5; }
#exo3-container .item1 { background-color: #F16B08; grid-column: 3 / 4; grid-row: 3 / 4; }
#exo3-container .item5 { background-color: #FBB5E9; grid-column: 3 / 6; grid-row: 4 / 5; }
#exo3-container .item9 { background-color: #AFFFFF; grid-column: 2 / 6; grid-row: 5 / 6; }