#exo1-wrapper #ex1_container {

    padding: 20px;
    margin-top: 20px;
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    position: relative; 
    

    max-width: 900px;
    min-height: 550px;
}


#exo1-wrapper #ex1_container ul {
    position: absolute; 
    top: 20px; 
    left: 20px; 
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 100;
}

#exo1-wrapper #ex1_container ul li {
    margin-bottom: 10px;
}

#exo1-wrapper #ex1_container ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}


#exo1-wrapper #ex1_container > div[id^="paragraphe"] {
    width: 600px;
    margin-left: 250px; 
    display: none; 
}




#exo1-wrapper #ex1_container > div[id^="paragraphe"]:target {
    display: block;
}


#exo1-wrapper li:nth-child(1) a[href="#paragraphe1"] { color: green; }
#exo1-wrapper #paragraphe1 h2 { color: green; }
#exo1-wrapper #paragraphe1 p { border-color: green; }


#exo1-wrapper li:nth-child(2) a[href="#paragraphe2"] { color: blue; }
#exo1-wrapper #paragraphe2 h2 { color: blue; }
#exo1-wrapper #paragraphe2 p { border-color: blue; }


#exo1-wrapper li:nth-child(3) a[href="#paragraphe3"] { color: red; }
#exo1-wrapper #paragraphe3 h2 { color: red; }
#exo1-wrapper #paragraphe3 p { border-color: red; }



#exo2-wrapper h1 {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    color: #000000;
    font-family: Arial;
}

#exo2-wrapper #exo2_container {
    border: 2px solid #ccc;
    padding: 20px;
    background-color: #c7c7c7;
    color: white;
    max-width: 700px;
    margin: auto;
}

#exo2-wrapper #telechargement {
    list-style: none;
    padding: 0;
    font-family: Arial, sans-serif;
}


#exo2-wrapper #telechargement li {
    border-bottom: 1px solid #0b0606;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#exo2-wrapper #telechargement li::before {
    content: "";
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

#exo2-wrapper li:has(a[href$=".pdf"])::before { background-image: url('assets/pdf.png'); }
#exo2-wrapper li:has(a[href$=".doc"])::before { background-image: url('assets/doc.png'); }
#exo2-wrapper li:has(a[href$=".xls"])::before { background-image: url('assets/xls.png'); }
#exo2-wrapper li:has(a[href$=".ppt"])::before { background-image: url('assets/ppt.png'); }
#exo2-wrapper li:has(a[href$=".png"])::before { background-image: url('assets/png.png'); }
#exo2-wrapper li:has(a[href$=".svg"])::before { background-image: url('assets/svg.png'); }
#exo2-wrapper li:has(a[href$=".zip"])::before { background-image: url('assets/zip.png'); }
#exo2-wrapper li:has(a[href$=".rtf"])::before { background-image: url('assets/rtf.png'); }
#exo2-wrapper li:has(a[href$=".ods"])::before { background-image: url('assets/ods.png'); }

#exo2-wrapper #telechargement a::before {
    content: attr(href) " ("; 
    font-weight: normal;
    color: #470202;
    text-decoration: #470202;
    margin-right: 0;
}

#exo2-wrapper #telechargement a::after {
    display: inline-block;
    vertical-align: middle;
    color: #470202;
    text-decoration: #470202;
    margin-left: 5px;
}

#exo2-wrapper a[hreflang="fr"]::after {
    content: " )"; 
    background-image: url('assets/fr.jpg'); 
    background-size: 20px 15px; 
    background-repeat: no-repeat;
    background-position: 0px center; 
    padding-left: 25px; 
    display: inline-block;
    vertical-align: middle;
    width: auto; 
    height: 15px;
    margin-left: 5px; 
}

#exo2-wrapper a[hreflang="en"]::after {
    content: " )"; 
    background-image: url('assets/en.jpg'); 
    background-size: 20px 15px; 
    background-repeat: no-repeat;
    background-position: 0px center; 
    padding-left: 25px; 
    display: inline-block;
    vertical-align: middle;
    width: auto; 
    height: 15px;
    margin-left: 5px; 
}



#exo3-wrapper table {
    border-collapse: collapse;
    width: 90%;
    margin: 30px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color: white; 
}

#exo3-wrapper caption {
    background-color: #808080;
    border: 1px solid black;
    border-bottom: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.8em;
    padding: 8px;
    color: black;
}

#exo3-wrapper th, #exo3-wrapper td {
    border: 1px solid black;
    padding: 5px 8px;
    text-align: left;
    vertical-align: middle;
}

#exo3-wrapper th {
    text-align: center;
}

#exo3-wrapper tr:first-child {
    background-color: black;
    color: white;
    font-weight: bold;
}

#exo3-wrapper tr:nth-child(n+2):nth-child(-n+5) {
    background-color: #ff322b; 
}

#exo3-wrapper tr:nth-child(n+6):nth-child(-n+12) {
    background-color: #92d050; 
}

#exo3-wrapper tr:nth-child(n+13) {
    background-color: #9cc2e5; 
}

#exo3-wrapper td:first-child {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 1.1em;
    background-color: rgba(255, 255, 255, 0.15);
}